# Studio creates a bin directory, we don't need it
bin

# Studio creates these, not wanted in repo
.classpath
.project
.settings

# Exclude data adapter as it has db user/password info
*DataAdapter.xml

# Exclude compiled .jasper files, we only want the source .jrxml
*.jasper

